{% extends 'PascalFeedDisplayerBundle::layout.html.twig' %}

{% block content %}
<div>
	Displaying entries {{ startNumber }} - {{ endNumber }} of {{ numberOfEntries }}
</div>
{% include 'PascalFeedDisplayerBundle:Default:pagination.html.twig' with {'page': page, 'numberOfPages' : numberOfPages } %}

{% for entry in entries %}
	<div class="entry" id="entry-{{ entry.id }}">
		<h1><a href="{{ entry.url }}" target="_blank">{{ entry.title }}</a></h1>

		<div class="tools">
			<button class="icon-tags"></button>
			<button class="icon-share"></button>
			<button class="icon-remove-circle"></button>
		</div>

		{#{% if entry.tags|length > 0%}#}
			<p class="tags">
				{% for tag in entry.tags %}
				<span class="label"><span>{{ tag.name }}</span></span>
				{% endfor %}
			</p>
		{#{% endif %}#}

		{% autoescape false %}
		<div class="description">
			{{ entry.description }}
		</div>
		{% endautoescape %}
	</div>
{% endfor %}

{% include 'PascalFeedDisplayerBundle:Default:pagination.html.twig' with {'page': page, 'numberOfPages' : numberOfPages } %}

{# Some javascript to build a feedEntry -> tag array #}
<script type="text/javascript">
	var feedEntryTags = [];
	{% for entry in entries %}
feedEntryTags[{{ entry.id }}] = [
		{% for tag in entry.tags %}
	{
		tagId: {{ tag.id }},
		tagName: '{{ tag.name }}'
	},
		{% endfor %}
];
	{% endfor %}
</script>

{% endblock %}

{% block sidebar %}
	{% render "PascalFeedDisplayerBundle:Default:sidebar" with {'currentPage': currentPage} %}
	{#{% include 'PascalFeedDisplayerBundle:Default:sidebar.html.twig' with {'currentPage': currentPage} %}#}
{% endblock %}