<div class="well sidebar-nav hidden-phone">
	<ul class="nav nav-list">
		<li id="sidebar-inbox" {% if currentPage == 'inbox' %} class="active" {% endif %}>
			<a href="{{ path('PascalFeedDisplayerBundle_homepage') }}">
				<i class="icon-home {% if currentPage == 'inbox' %}icon-white{% endif %}"></i>
				Inbox
			</a>
		</li>

		<li class="nav-header">
			<i class="icon-th-list"></i>
			Sources
		</li>
		{% for feedType in feedTypes %}
			<li {% if currentPage == feedType %}class="active"{% endif %}>
				<a href="{{ path('PascalFeedDisplayerBundle_homepage') }}?source={{ feedType }}">{{ feedType }}</a>
			</li>
		{% endfor%}

		<li class="nav-header">
			<i class="icon-tags"></i>
			Tags
		</li>
		{% for tag in tags %}
        <li {% if currentPage == tag.name %}class="active"{% endif %}>
				<a href="{{ path('PascalFeedDisplayerBundle_homepage') }}?tags[]={{ tag.name }}">{{ tag.name }}</a>
			</li>
		{% endfor%}
	</ul>
</div>